html,
body {
	width: auto !important;
	overflow-x: hidden !important;
}

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.50;
	padding-right: 0 !important;
	background-color: #fff;
	text-rendering: optimizeLegibility;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Oswald', sans-serif;
}

p {
	line-height: 1.75;
	color: #878787;
}

a {
	color: #069;
}

a:hover,
a:focus {
    color: #fc0;
	text-decoration: none;
}

ul,
li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

li {
	font-size: 14px;
	line-height: 1.75;
	color: #878787;
}

.header {
	padding: 10px 0;
	border-bottom: 1px solid #069;
	background-color: #069;
}

.navbar.navbar-default {
	margin: 35px 0 5px;
	background-color: transparent;
	border: none;
	text-align: center;
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	padding: 12px 20px 12px 19px;
	z-index: 102;
	border: 1px solid transparent;
	bottom: -1px;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #ffe01c;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.navbar-default .navbar-nav > li > a:focus {
	color: #ffe01c;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
	color: #ffe01c;
	background-color: transparent;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
	border: none;
	padding: 0;
	float: none;
	margin: 0 auto;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: transparent;
	border: none;
}

.navbar-default .navbar-toggle .icon-bar,
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
	background-color: #ffe01c;
}

.navbar-toggle .toggle-title {
    display: inline-block;
    float: left;
    color: #ffe01c;
    margin-right: 10px;
    text-transform: uppercase;
    position: relative;
    top: -1px;
    font-weight: 700;
}

.navbar-toggle .icon-bars {
    float: left;
	margin-top: 2px;
}

.navbar-toggle .icon-bar {
    width: 22px;
    height: 3px;
}

.navbar-collapse {
	border: none;
	box-shadow: none;
}

.logo img {
	margin: 0 auto;
}

.first-item {
	background: url(../img/slider/deck.jpg) no-repeat 0 0;
	background-size: cover;
	min-height: 500px;
}

.second-item {
	background: url(../img/slider/stairs.jpg) no-repeat 0 0;
	background-size: cover;
	min-height: 500px;
}

.third-item {
	background: url(../img/slider/kitchen.jpg) no-repeat 0 0;
	background-size: cover;
	min-height: 500px;
}

.slider {
	position: relative;
}

.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}

.rslides div.slide {
	-webkit-backface-visibility: hidden;
	width: 100%;
	left: 0;
	top: 0;
}
  
.rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
}

.slider-caption {
	text-align: left;
	padding: 30px;
	color: #777;
	background: #fff;
}

.slider-caption h1 {
	font-family: 'Oswald', sans-serif;
	margin: 0 0 20px;
	color: #069;
}

.slider-caption p {
    color: #777;
}

.slider-indicator-tabs a {
	visibility: hidden;
}

.slider-indicator-tabs a:after {
	content: "\e806";
	font-size: 0;
	font-family: 'fontello';
	visibility: visible;
	display: block;
	height: 20px;
	width: 20px;
	background: #fff;
	display: inline-block;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
}

.slider-indicator-here a:after {
	background: #ffe01c;
}

ul.slider-indicator-tabs {
	position: absolute;
	left: 50%;
	z-index: 15;
	width: 60%;
	padding-left: 0;
	margin-left: -30%;
	text-align: center;
	list-style: none;
	bottom: 10%
}

.slider-indicator-tabs li {
	display: inline-block;
}

button.sl-prev .fa,
button.sl-next .fa {
    font-size: 35px !important;
    font-weight: bold;
}

section {
	padding: 80px 0;
}

section.intro,
section#portfolio,
section#page-not-found {
	background: #fff;
}

section#choose {
	background: #fcfcfc;
}

section#page-not-found {
	padding: 140px 0;
}

section.cta {
	background: #2e4154;
	border: 0;
}

section.cta h2 {
	color: #fff;
}

.index-page-header {
	color: #069;
	border: 0;
	margin: 30px 0 30px;
	padding-bottom: 0px;
}

.page-header {
	color: #069;
	border: 0;
	margin: 0px 0 30px;
	padding-bottom: 0px;
}

.sub-header {
	color: #333;
	margin: 0px 0 30px;
	padding-bottom: 0px;
}

.service-list {
	margin: 0 0 10px;
}

.icon-check {
	color: #069;
}

.service-header {
	color: #333;
	margin: 30px 0 30px;
}

.choose-box,
.address-box {
	margin-top: 0px;
	margin-bottom: 20px;
}

.choose-box .media-left,
.choose-box .media-body,
.address-box .media-left,
.address-box .media-body {
	padding-right: 30px;
	vertical-align: baseline;
}

.choose-box .media-left p,
.choose-box .media-body p,
.address-box .media-left p,
.address-box .media-body p {
	text-align: left;
}

.choose-box .media-left h3,
.choose-box .media-body h3,
.address-box .media-left h3,
.address-box .media-body h3 {
	text-align: left;
	margin: 0 0 30px;
}

.choose-box .media-left span,
.choose-box .media-body span,
.address-box .media-left span,
.address-box .media-body span {
	font-size: 36px;
	color: #069;
}

.portfolio-box {
	margin-top: 20px;
}

.portfolio-container {
	margin-bottom: 30px;
}

.portfolio-img {
    position: relative;
    display: block;
    overflow: hidden;
    background-color: #333;
}

.portfolio-img:before {
    visibility: hidden;
    margin: 0 auto;
    -webkit-transition: -webkit-transform .32s;
	transition: transform .32s;
    -webkit-transform: scale(.3);
	-ms-transform: scale(.3);
	transform: scale(.3);
}

.portfolio-img:hover:before {
    visibility: visible;
    -webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.portfolio-img img {
    -webkit-transition: .32s opacity, .32s -webkit-transform;
	transition: .32s opacity, .32s transform;
}

.portfolio-img:hover img {
    -webkit-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
	opacity: .35;
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=35)';
}

#map {
	position:relative;
	margin-top: 30px;
	margin-bottom: 20px;
}

#map iframe {
	width: 100%;
	height: 600px;
	border: none;
}

#error {
	font-size: 100px;
}

.fixed-height {
	height: 640px;
}

.no-gutter {
    margin: 0 !important;
    padding: 0 !important;
	position: relative;
}

.btn {
	font-weight: 700;
	text-transform: uppercase;
	padding: 10px 20px;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
}

.btn-more {
    border-color: #333;
    color: #fff;
    background: #333;
	-webkit-transition: all ease 0.4s;
	-moz-transition: all ease 0.4s;
	-ms-transition: all ease 0.4s;
	-o-transition: all ease 0.4s;
	transition: all ease 0.4s;
}

.btn-more:hover,
.btn-more:focus,
.btn-more.focus,
.btn-more:active,
.btn-more.active {
    border-color: #069;
    color: #fff;
    background: #069;
}

.btn-more:active,
.btn-more.active {
    background-image: none;
}

.btn-start,
.btn-top {
    border-color: #069;
    color: #fff;
    background: #069;
	-webkit-transition: all ease 0.4s;
	-moz-transition: all ease 0.4s;
	-ms-transition: all ease 0.4s;
	-o-transition: all ease 0.4s;
	transition: all ease 0.4s;
}

.btn-start:hover,
.btn-start:focus,
.btn-start.focus,
.btn-start:active,
.btn-start.active,
.btn-top:hover,
.btn-top:focus,
.btn-top.focus,
.btn-top:active,
.btn-top.active {
    border-color: #fff;
    color: #069;
    background: #fff;
}

.btn-start:active,
.btn-start.active,
.btn-top:active,
.btn-top.active {
    background-image: none;
}

.btn-more,
.btn-start {
	margin-top: 15px;
}

.btn-top {
	margin-top: 8px;
}

.footer-top {
	border: 0;
	padding: 80px 0;
	background: #262624;
}

.footer-bottom {
	border: 0;
	padding: 30px 0;
	background: #191918;
}

.footer-logo {
	margin-bottom: 30px;
	margin-top: 30px;
}

.footer-header {
	border: 0;
	margin: 0px 0 30px;
	color: #fff;
}

.quick-links > li {
	border-bottom: 1px solid rgba(255,255,255,0.1);
}

.quick-links > li:last-child {
	border-bottom: 1px solid transparent;
}

@media (min-width: 768px) {
	.navbar-nav {
		display: inline-block;
		float: none !important;
		vertical-align: top;
	}

	.navbar.navbar-default {
		background-color: transparent;
		border-color: transparent;
		margin: 10px 0 0;
	}
	
	.portfolio-img,
	.portfolio-img img {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
    }
}

@media (max-width: 992px) {
	.navbar-nav {
		padding-left: 0 !important;
	}
	
	.main-nav {
		float: none !important;
	}

	.footer-logo {
		margin-top: 0 !important;
	}
	
	.footer-header {
		margin: 30px 0 30px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.navbar.navbar-default {
		margin: 35px 0 5px;
	}
}

@media (min-width: 1200px) {
	.navbar.navbar-default {
		margin: 35px 0 5px;
	}
}

@media (max-width: 767px) {
	.navbar.navbar-default {
		margin: 10px 0 0px;
	}
	
	.navbar-default .navbar-toggle {
		padding: 13px 0;
	}

	.navbar-default .navbar-nav > li > a {
		border-bottom: 1px solid transparent;
		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-default .navbar-nav > li:last-child > a {
		border-bottom: 1px solid transparent;
	}
	
	.portfolio-img {
		max-width: 400px;
		margin: 0 auto;
	}
	
	.xs-text-center {
		text-align: center;
	}
}

@media(max-width: 1440px){
	.slider-caption {
		width: 40%;
	}
}

@media(max-width: 1366px){
	.slider-caption {
		margin: 7em 0 0 10em;
	}
}

@media(max-width: 991px){
	.logo img {
		margin-top: 10px;
	}
	
	.slider-caption {
		width: 70%;
		margin: 5em 0em 0 10em;
	}
	
	.first-item,
	.second-item,
	.third-item {
		min-height: 415px;
	}
	
	.xs-index-text-center,
	.xs-text-center {
		text-align: center;
	}
	
	.xs-index-text-center {
		margin: 0 0 30px;
		padding-bottom: 0px;
	}
}

@media (max-width: 768px){
	.slider-caption {
		width: 93%;
		margin: 5em 0 0 1.50em;
	}
}

@media (max-width: 514px){
	.slider-caption {
		width: 93%;
		margin: 3em 0 0 1em;
	}
}

@media(max-width: 390px){
	ul.slider-indicator-tabs {
		bottom: 8%
	}
	
	.slider-caption {
		width: 90%;
		margin: 3.50em 0em 0 1.50em;
	}
	
	.first-item,
	.second-item,
	.third-item {
		min-height: 435px;
	}
	
	.first-item {
		background: url(../img/slider/deck.jpg) no-repeat -182px 0px;
		background-size:cover;
	}
	
	.second-item {
		background: url(../img/slider/stairs.jpg) no-repeat -182px 0px;
		background-size:cover;
	}
	
	.third-item {
		background: url(../img/slider/kitchen.jpg) no-repeat -182px 0px;
		background-size:cover;
	}
}

@media(max-width: 368px) {
	.slider-caption {
		width: 90%;
		margin: 30px 0 0 1em;
	}
}

@media(max-width: 353px) {
	ul.slider-indicator-tabs {
		bottom: 5%
	}
	
	.slider-caption {
		width: 90%;
		margin: 12px 0 0 1em;
	}
}